<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Components: Action Sheets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='action-sheets-basic-page'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button block (click)="openMenu()">Action Sheets</ion-button>
      </ion-col>
      <ion-col>
        <ion-button block (click)="presentAlert()">Alert!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  <ion-list>
    <ion-list-header>Favorite language</ion-list-header>
      <ion-item>
        <ion-label>Java</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label>C++</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark" slot="start"></ion-checkbox>
        <ion-label>Python</ion-label>
      </ion-item>


